.home {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--text-color);
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.juntadas-wrapper {
    flex: 1;
}

.home > button {
    align-self: center;
    margin: 0.5rem 0 0 0;
}

/* Responsive */
@media (max-width: 768px) {
  .home > button {
    margin: 0.25rem 0 0 0;
  }
}

