.title-wrapper {
    margin-left: 1rem;
    color: var(--text-color);
    /* border: red 1px solid; */

    .title{
        font-size: 2rem;
        margin-bottom: 0.5rem;
        /* color: blue; */

    }

    .subtitle {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        /* color: green; */

 
    }
}