.navbar-container {
    background-color: var(--background-color);
    /* border: 1px solid var(--terciary-color); */
    height: 30px;
    margin-bottom: 1rem;
}

    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 20px;
        height: 100%;
    }

        .nav-item {
                font-family: var(--font-family);
                font-size: 14px;
                color: var(--text-color);
                text-decoration: none;
                transition: background-color .25s ease-in-out;
        }

                .nav-item.active {
                    background-color: var(--primary-color);
                    font-weight: bold;
                    color: var(--background-color);
                    height: 100%;
                    align-items: center;
                    display: flex;
                    padding: .5rem;
                }

                .nav-item:hover {
                    background-color: var(--primary-color);
                    font-weight: bold;
                    color: var(--background-color);
                    cursor: pointer;
                    height: 100%;
                    align-items: center;
                    display: flex;
                    
                }
            
    